<div class="main_top">
  <div class="main_top_logo"></div>
</div>
<div class="main_content">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login_content">
      <h1 class="login_product_text">欢迎使用</h1>
      <div class="user_name_content">
        <input
          type="text"
          formControlName="username"
          class="username_text_field"
          placeholder="账号"
          autofocus="autofocus"
        />
        <div *ngIf="submitted && f.username.errors" class="username_error_text">
          账号不能为空
        </div>
      </div>
      <div class="user_password_content">
        <input
          type="password"
          formControlName="password"
          class="password_text_field"
          placeholder="密码"
        />
        <div *ngIf="submitted && f.password.errors" class="password_error_text">
          密码不能为空
        </div>
      </div>
      <div
        class="user_role_content"
        [ngClass]="{ user_error_content: submitted && f.password.errors }"
      >
        <input type="checkbox" class="role_enable_field" id="checkbox1" />
        <label for="checkbox1" class="role_text_field">管理员身份</label>
      </div>
      <div class="login_submit_content">
        <button class="submit_btn" [disabled]="loading">
          {{ loading ? "加载中..." : "登&nbsp;录" }}
        </button>
      </div>
      <div *ngIf="error" class="error_content">
        {{ error }}
      </div>
    </div>
  </form>
</div>
