.top_menu {
  width: 100%;
  position: relative;
  height: 20%;
}

.top_menu_left {
  float: left;
}

.top_menu_right {
  float: right;
}

.top_menu_logo {
  background: url("../images/logo.svg") no-repeat;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 40px;
}

.top_menu_title {
  background: url("../images/TEXT1.svg") no-repeat;
  height: 50px;
  width: 290px;
  position: absolute;
  top: 60px;
  left: 150px;
}

.top_menu_start {
  background: url("../images/start.svg") no-repeat;
  height: 16px;
  width: 50px;
  font-size: 14px;
  position: absolute;
  top: 50px;
  right: 150px;
}
