.home-container {
  background-size: cover;
  width: 100%;
  background: url("../images/bg.jpg") no-repeat,
    linear-gradient(to right, #6077ec, #6077ec);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.logo {
  float: left !important;
}

.logo li {
  width: 100px !important;
}

.main_top_logo1 {
  background: url("../images/logo.svg") no-repeat;
  width: 91px;
  height: 50px;
  margin-top: -8px;
}

.main_top_product {
  background: url("../images/TEXT1.svg") no-repeat 10px;
  width: 295px;
  height: 23px;
}

.start {
  background: url("../images/start.svg") no-repeat 10px;
  padding-left: 25px;
}

.setting {
  background: url("../images/setting.svg") no-repeat 10px;
  padding-left: 32px;
}

.home_container {
  padding: 50px;
}

.nav {
  float: right;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  float: left;
  width: 105px;
  height: 30px;
  line-height: 30px;
}

.nav a {
  height: 100%;
  text-decoration: none;
  text-align: center;
  color: #fff;
  float: right;
}

.top_menu_logo {
  background: url("../images/logo.svg") no-repeat;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 40px;
}

.top_menu_title {
  background: url("../images/TEXT1.svg") no-repeat;
  height: 50px;
  width: 290px;
  position: absolute;
  top: 60px;
  left: 150px;
}

.top_menu_start {
  background: url("../images/start.svg") no-repeat;
  height: 16px;
  width: 50px;
  font-size: 14px;
  position: absolute;
  top: 50px;
  right: 150px;
}

.retention-chart {
  margin-bottom: 20px;
}

.turnover-chart-card {
  margin-top: 40px;
  padding: 0 0px;
}

.turnover-pie-left {
  margin-right: 10px;
  width: calc(50% - 5px);
  float: left;
}

.turnover-pie-right {
  width: calc(50% - 5px);
  float: left;
}

.single-chart-card {
  background: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-radius: 4px;
}

.content {
  padding-top: 20px;
}

.clear {
  clear: both;
}

.rank-bar {
  margin-top: 20px;
  position: relative;
}

.rank-list {
  position: absolute;
}

.rank-list-bar {
  margin-top: 50px;
  margin-left: 300px;
  height: 800px;
}

.rank-list-bar-chart {
  height: 800px;
}

.rank-bar-title {
  padding-top: 67px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: -0.25px;
  line-height: 16px;
  font-weight: bold;
}

.rank-list {
  margin-top: 50px;
  padding-left: 100px;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  line-height: 40px;
}
.rank-list-top3-num {
  background-image: url("../images/medal.png");
  background-size: contain;
  display: inline-block;
  margin-right: 20px;

  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;

  width: 28px;
  height: 28px;
  line-height: 24px;
  text-align: center;
}
.rank-list-normal-num {
  display: inline-block;
  margin-right: 20px;
  width: 28px;
  height: 28px;
  font-size: 18px;
  line-height: 24px;
  color: #999999;
  letter-spacing: 0;
  text-align: center;
}
.rank-list-top3-font {
  color: #333333;
}

.rank-bar-tab {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-radius: 2px;
  padding: 5px 20px;
  cursor: pointer;
}

.rank-bar-tab-first {
  margin-left: 40px;
}

.rank-bar-tab-choose {
  color: #1890ff !important;
  border: 1px solid #1890ff !important;
}

.retentiond-desc {
  position: relative;
  display: inline-block;
  top: 42px;
  left: 250px;
}

.retentiond-desc-uv, .retentiond-desc-pv {
  font-weight: bold;
}
