* {
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main-container {
  background-size: cover;
  /* height: 100%; */
  width: 100%;
  background: url("../images/bg.jpg") no-repeat,
    linear-gradient(to right, #6077ec, #6077ec);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

a {
  cursor: pointer;
}
