<div class="home_container">
  <div class="nav logo">
    <ul>
      <li>
        <div class="main_top_logo1"></div>
      </li>
      <li>
        <div class="main_top_product"></div>
      </li>
    </ul>
  </div>
  <div class="nav">
    <ul>
      <li>
        <a (click)="getNewData()" class="start">开始运算</a>
      </li>
      <li>
        <a (click)="logout()">用户注销</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="turnover-chart-card">
      <!-- UV/PV访问趋势 -->
      <div class="retention-chart single-chart-card">
        <div>
          今日UV <span class="retentiond-desc">0</span>
          &nbsp;&nbsp;&nbsp;
          今日PV <span class="retentiond-desc-pv">0</span>
        </div>
        <div echarts [options]="accessOption" class="chart"></div>
      </div>
      <!-- pv构成情况 -->
      <div class="retention-chart single-chart-card">
        <div echarts [options]="pvOption" class="chart"></div>
      </div>
      <!-- 留存率 -->
      <div class="retention-chart single-chart-card">
        <div echarts [options]="retentionOption" class="chart"></div>
      </div>
      <!-- 成交额 -->
      <div class="turnover-pie-left single-chart-card">
        <div echarts [options]="turnoverOption" class="chart"></div>
      </div>
      <!-- 销量额-->
      <div class="turnover-pie-right single-chart-card">
        <div echarts [options]="salesOption" class="chart"></div>
      </div>
      <div class="clear"></div>
      <!-- 排行榜 -->
      <div class="rank-bar single-chart-card">
        <div class="rank-bar-title">
          排行榜-TOP20
          <div
            [ngClass]="{ 'rank-bar-tab-choose': tabNum == 1 }"
            class="rank-bar-tab rank-bar-tab-first"
            (click)="tabClick(1)"
          >
            销量
          </div>
          <div
            [ngClass]="{ 'rank-bar-tab-choose': tabNum == 2 }"
            class="rank-bar-tab"
            (click)="tabClick(2)"
          >
            浏览量
          </div>
          <div
            [ngClass]="{ 'rank-bar-tab-choose': tabNum == 3 }"
            class="rank-bar-tab"
            (click)="tabClick(3)"
          >
            加入购物车
          </div>
        </div>
        <div class="rank-list">
          <div *ngFor="let text of rankLengendTextList; let i = index">
            <span *ngIf="i < 3" class="rank-list-top3-num">{{ i + 1 }}</span>
            <span *ngIf="i > 2" class="rank-list-normal-num">{{ i + 1 }}</span>
            <span class="rank-list-top3-font">{{ text }}</span>
          </div>
        </div>
        <div class="rank-list-bar">
          <div echarts [options]="rankOption" class="rank-list-bar-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
